.image-content {
    height: 50%;
    width: 50%
}

.input-div {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-input {
    border-radius: 7px;
    border: None;
    padding-left: 5px;
}

.load-button {
    margin-bottom: 10px;
}